/* Сброс стилей */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body { 
    background-color: rgba(255, 255, 255, 1);
    font-family: Montserrat;
}

/* HEADER */

.header {
    display: flex;
    width: 100vw;
    min-height: 76px;
    align-items: center;
    justify-content: space-between;
    padding-left: 120px;
    padding-right: 120px;
    border-bottom: 2px solid rgba(239, 245, 251, 1);
}
.header__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    gap: 30px;
}
.header__link {
    display: flex;
    align-items: center;
    color: rgba(51, 51, 51, 1);
    font-weight: 500;
    font-size: 14px;
    text-decoration: none;
}
.header__link-img-btn {
    background: none;
    border: none;
    margin-left: 8px;
}
.header__link-img-btn:hover {
    transform: scale(2.1);
}
.header__btn {
    background-color: rgba(227, 245, 245, 1);
    color: rgba(3, 178, 165, 1);
    width: 230px;
    min-height: 48px;
    border: none;
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
}
.header__btn:hover {
    transform: scale(1.1);
}
/* БУРГЕР */
.hamburger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40px; /* Размер кнопки */
    height: 40px;
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
  }
  .hamburger span {
    display: block;
    width: 100%;
    height: 5px; /* Толщина линий */
    background-color: rgba(3, 178, 165, 1);
    border-radius: 1px;
    transition: 0.3s ease;
  }
/* MAIN */
.first__hero {
    display: inline-flex;
    width: 496px;
    height: 18px;
    margin-left: 126px;
    margin-top: 16px;
    text-align: center;
    align-items: center;
    gap: 8px;
}
.first__hero-element {
    vertical-align: middle;
    align-items: center;
    padding-left: 4px;
}
.first__hero-link {
    text-decoration: none;
    font-weight: 400;
    color: rgba(51, 51, 51, 0.7);
    font-size: 12px;
}
/* MAIN CONTENT */
.all {
    display: grid;
    grid-template-columns: 2fr 1fr;
    width: 100vw;
    gap: 528px;
}
.hero {
    display: block;
    width: 714px;
    height: 5017px;
    margin-left: 120px;
    margin-top: 54px;
}
.hero__h1 {
    display: flex;
    width: 690px;
    height: 168px;
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    color: rgba(51, 51, 51, 1);
}
.hero__avtor {
    display: flex;
    width: 240px;
    height: 20px;
    padding-top: 16px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: rgba(73, 73, 73, 1);
}
.hero__img1 {
    width: 714px;
    height: 331px;
    padding-top: 48px;
    overflow: hidden;
}
.hero__img1 img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Заполняет контейнер без искажений */
  }
  .hero__textblock1 {
    display: block;
    width: 588px;
    height: 274px;
    margin-top: 24px;
    font-weight: 500;
    font-size: 16px;
    color: rgba(51, 51, 51, 1); 
  }
  .hero__textblock1 h2 {
    color: rgba(51, 51, 51, 1);
    font-weight: 700;
    font-size: 16px;
  }
.hero__textblock1 li {
    color: rgba(51, 51, 51, 1);
    font-weight: 500;
    font-size: 16px;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    line-height: 32px;
}
ul li::marker {
    color: rgba(3, 178, 165, 1); /* Изменяет цвет маркера */
    font-size: 1.2em; /* Можно увеличить размер */
  }
.li1 {
    padding: 4px 0 0 56px;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    list-style: none;
    color: rgba(51, 51, 51, 1);
    font-weight: 500;
    font-size: 16px;
}
ul {
    /* list-style-position: inside;  */
    list-style-position: outside;
    padding-left: 24px;
}
.li2 {
    padding-left: 72px;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    list-style: none;
    color: rgba(51, 51, 51, 1);
    font-weight: 500;
    font-size: 16px;
}
.li3 {
    padding-left: 88px;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    list-style: none;
    color: rgba(51, 51, 51, 1);
    font-weight: 500;
    font-size: 16px;
}
.hero__textblock2 {
    display: block;
    width: 690px;
    height: 192px;
    margin-top: 24px;
}
.hero__textblock2 h3 {
    font-weight: 700;
    font-size: 24px;
    color: rgba(51, 51, 51, 1);
}
.hero__textblock2-p1 {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    margin-top: 16px;
}
.hero__textblock2-p2 {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    margin-top: 24px;
}
.hero__textblock3 {
    width: 690px;
    height: 162px;
    margin-top: 40px;
}
.hero__textblock4 {
    width: 690px;
    height: 256px;
    margin-top: 24px;  
}
.hero__textblock4 h4 {
    font-weight: 700;
    font-size: 24px;
}
.hero__textblock4 li {
    font-weight: 500;
    font-size: 16px;
    color: rgba(51, 51, 51, 1);
    margin-top: 16px;
}
.hero__textblock5 {
    width: 691px;
    height: 365px;
    object-fit: cover; /* Заполняет контейнер без искажений */
}
.hero__textblock5 p {
    font-weight: 400;
    font-size: 14px;
    color: rgba(134, 134, 134, 1);
    margin-top: 16px;
}
.hero__textblock6 {
    width: 691px;
    height: 96px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: rgba(51, 51, 51, 1);
    margin-top: 24px;
}
.hero__textblock7 {
    display: flex;
    width: 691px;
    height: 168px;
    margin-top: 24px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(../Images/Пятно.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
}
.hero__textblock7 p {
    width: 475px;
    height: 96px;
    font-weight: 400;
    font-style: italic;
    font-size: 16px;
    line-height: 24px;
    color: rgba(51, 51, 51, 1); 
}
.hero__textblock8 {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: rgba(51, 51, 51, 1);
    margin-top: 24px;
    width: 691px;
    height: 96px;
    }
    .hero__textblock9 {
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 691px;
        height: 380px;
        gap: 24px;
        margin-top: 24px;
    }
    .textblock9-img {
        display: flex;
        width: 282px;
        height: 380px;
    }
    .textblock9-p {
        display: flex;
        width: 385px;
        height: 380px;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: rgba(51, 51, 51, 1);
    }
    .hero__textblock10 {
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: rgba(51, 51, 51, 1);
        width: 691px;
        height: 96px;
        margin-top: 24px;
    }
    .hero__textblock11 {
        display: block;
        margin-top: 24px;
        width: 690px;
        height: 224px;
        background-color: rgba(254, 250, 236, 1);
    }
    .hero__textblock11 h5 {
        font-weight: 700;
        font-size: 16px;
        color: rgba(51, 51, 51, 1);
        padding-left: 24px;
        padding-top: 24px;
        line-height: 24px;
    }
    .hero__textblock11 p {
        padding-left: 24px;
        padding: 8px 24px 24px 24px;
        line-height: 24px;
        font-size: 16px;
        color: rgba(51, 51, 51, 1);
    }
    .hero__textblock12 {
        display: block;
        width: 691px;
        height: 280px;
        margin-top: 24px;
        color: rgba(51, 51, 51, 1);
        font-size: 16px;
        line-height: 30px;
        font-weight: 500;
    }
    .hero__textblock12 h6 {
        font-weight: 700;
        font-size: 24px;
        color: rgba(51, 51, 51, 1);
        line-height: 32px;
    }
    .hero__textblock12 li {
        padding-top: 16px;
    }
    .hero__textblock13 {
        display: grid;
        grid-template-columns: 1fr 2fr;
        width: 691px;
        height: 174px;
        margin-top: 24px;
    }
.hero__textblock13 p {
    padding-left: 24px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: rgba(51, 51, 51, 1);
}
.textblock14 {
    width: 691px;
    height: 96px;
    margin-top: 24px;
    font-weight: 500px;
    font-size: 16px;
    line-height: 24px;
    counter-reset: rgba(51, 51, 51, 1);
}
.hero__textblock15 {
    width: 690px;
    height: 224px;
    background-color: rgba(255, 243, 235, 1);
    border-radius: 16px;
    margin-top: 24px;
}
.hero__textblock15 h6 {
    padding: 24px 0 0 24px;
    font-weight: 700;
    font-size: 16px;
    color: rgba(51, 51, 51, 1);
}
.hero__textblock15 p {
    padding: 8px 24px 24px 24px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color:rgba(51, 51, 51, 1);    
}
.hero__textblock16 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 691px;
    height: 451px;
    gap: 24px;
    margin-top: 24px;
}
.block16 p {
    padding-top: 24px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: rgba(51, 51, 51, 1);
}
.hero__textblock17 {
    margin: 24px 256.13px 0 256.13px;
}
.hero__textblock18 {
    margin-top: 24px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: rgba(51, 51, 51, 1);
}
.hero__textblock19 {
    display: block;
    margin-top: 24px;
    width: 690px;
    height: 224px;
    background-color: rgba(3, 178, 165, 0.1);
    ;
}
.hero__textblock19 h6 {
    font-weight: 700;
    font-size: 16px;
    color: rgba(51, 51, 51, 1);
    padding-left: 24px;
    padding-top: 24px;
    line-height: 24px;
}
.hero__textblock19 p {
    padding-left: 24px;
    padding: 8px 24px 24px 24px;
    line-height: 24px;
    font-size: 16px;
    color: rgba(51, 51, 51, 1);
}
.hero__textblock20 {
    /* display: inline; */
    margin-top: 24px;
}
.hero__textblock20 a {
    margin-top: 24px;
    text-decoration: none;
    color: rgba(41, 99, 163, 1);
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
}

/* SIDEBAR */
.sidebar {
    display: block;
    
}
/* первый блок сайдбара */
.sidebar__firstblock {
    width: 282px;
    height: 512px;
    background-color: rgba(230, 240, 253, 1);
    border-radius: 16px;
}
.sidebar__firstblock img {
    margin: 24px 12.5px 0 12.5px;
}
#zagolovok {
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: rgba(51, 51, 51, 1);
    text-align: center;
    margin: 24px 11.5px 0 11.5px;
}
.sidebar__firstblock p {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color:rgba(51, 51, 51, 1);
    text-align: center;
    margin: 8px 24px 0 24px;
}
.sidebar__firstblock button {
    width: 234px;
    height: 48px;
    color:rgba(255, 255, 255, 1);
    background-color:rgba(53, 179, 169, 1);
    border-radius: 4px;
    border: none;
    font-size: 16px;
    font-weight: 700;
    margin: 24px 24px 0 24px;
}
/* второй блок сайдбара */
.sidebar__secondblock {
    width: 282px;
    height: 481px;
    display: block;
    text-align: center;
    justify-content: center;
    background-color: white;
    border: 2px solid rgba(222, 222, 222, 1);
    border-radius: 16px;
    margin-top: 24px;
}
.sidebar__secondblock img {
    width: 120px;
    height: 120px;
    margin: 24px 50px 0 50px;
    border-radius: 50%;
    object-fit: cover;
}
.sidebar__conteiner {
    position: relative;
    display: inline-block;
}
.sidebar__tag1 {
    display: flex;
    position: absolute;
    top: 16px;
    left: -16px;
    width: 105px;
    height: 24px;
    border: none;
    border-radius: 6px;
    background-color: rgba(243, 244, 248, 0.7);
    font-weight: 400;
    font-size: 12px;
    align-items: center;
    padding-left: 6px;
    gap: 4px;
}
.sidebar__tag2 {
    display: flex;
    position: absolute;
    top: 48px;
    left: -16px;
    width: 74px;
    height: 24px;
    border: none;
    border-radius: 6px;
    background-color: rgba(243, 244, 248, 0.7);
    font-weight: 400;
    font-size: 12px;
    align-items: center;
    padding-left: 6px;
    gap: 4px;
}
.sidebar__secondblock h2 {
    width: 700;
    size: 20px;
    line-height: 28px;
    margin-top: 16px;
    color: rgba(51, 51, 51, 1);
}
.sidebar__secondblock h3 {
    width: 600;
    size: 20px;
    line-height: 28px;
    color: rgba(51, 51, 51, 1);
}
.sidebar__secondblock p {
    font-weight: 400;
    font-size: 14px;
    color: rgba(162, 167, 177, 1);
}
.sidebar__secondblock hr {
    margin: 16px 16px 16px 16px;
}
.sidebar__secondblock h4 {
    font-weight: 700;
    font-size: 16px;
    color: rgba(51, 51, 51, 1);
    line-height: 24px;
}
.sidebar__secondblock ul {
    text-align: left;
}
.sidebar__secondblock li {
    line-height: 28px;
    color: rgba(51, 51, 51, 1);
}
.sidebar__secondblock button {
    width: 250px;
    height: 48px;
    background-color: rgba(53, 179, 169, 1);
    border: none;
    border-radius: 8px;
    font-weight: 700;
    font-size: 16px;
    color: rgba(255, 255, 255, 1);
    margin-top: 16px;
}
/* третий блок сайдбара */
.sidebar__thirdblock {
    margin-top: 28px;
}
/* четвертый блок сайдбара */
.sidebar__fiftblock {
    display: block;
    overflow: hidden;
    width: 282px;
    height: 304px;
    margin-top: 42px;
    border: 2px solid rgba(222, 222, 222, 1);
    border-radius: 24px;
}
#fift {
    font-weight: 700;
    font-size: 18px;
    line-height: 16px;
    color: rgba(41, 99, 163, 1);
    margin: 32px 0 0 32px;
}
.sidebar__fiftblock p {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: rgba(1, 22, 50, 1);
    margin: 16px 0 0 32px;
}
#sell {
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    color: rgba(51, 51, 51, 1);
    margin: 16px 140px 0 32px;
}
.sidebar__fiftblock button {
    width: 108px;
    height: 48px;
    background: rgba(53, 179, 169, 1);
    border: none;
    border-radius: 4px;
    color: rgba(255, 255, 255, 1);
    font-weight: 700;
    font-size: 16px;
    margin: 16px 0 32px 32px;
}
.sidebar__fiftblock img {
    z-index: -1;
    margin-top: -350px;
}

/* эдемент фона под сайдбаром */
.sidebar__fourthblock {
    margin: 633px 0 0 200px;
}


/* HERO FOOTER */
hr {
    max-width: 85%;
    margin: 0 auto;
    border: none;
    height: 1px;
    background-color: rgba(222, 222, 222, 1);
}
.hero__footer {
    display: grid;
    grid-template-columns: 1fr 1fr .01fr;
}
.hero__footer img {
    margin-top: 72px;
}

.hero__footer-box {
    width: 348px;
    height: 280px;
    margin: 72px 0 0 120px;
}
#footer1 {
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    color: rgba(51, 51, 51, 1);
}
.hero__footer-box p {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color:rgba(51, 51, 51, 1);
    margin-top: 24px;
}
.hero__footer-box button {
    width: 238px;
    height: 60px;
    color:rgba(255, 255, 255, 1);
    background-color:rgba(53, 179, 169, 1);
    border-radius: 4px;
    border: none;
    font-size: 16px;
    font-weight: 700;
    margin-top: 32px;
}
.hero__footer-bgc img {
    width: 100vw;
    margin: 26px 0 0 0;
    display: block;
}









/* FOOTER */

.footer {
    display: flex;
    position: absolute;
    width: 100%;
    height: 352px;
    margin-top: 0;
    background-color: #2963A3;
}

/* ПЕРВЫЙ БЛОК НАВИГАЦИИ */

.footer__nav {
    display: block;
    padding-left: 120px;
    padding-top: 40px;
    margin-bottom: 78px;
}
.footer__list {
    margin: 0;
    padding: 0; 
    list-style-type: none;
}
.footer__item {
    padding: 12px;
}
.footer__link {
text-decoration: none;
color: #FFFFFF;
font-weight: 700;
font-size: 16px;
}

/* ВТОРОЙ БЛОК НАВИГАЦИИ */
.footer__nav2 {
    display: block;
    padding-left: 93px;
    padding-top: 40px;
    margin-bottom: 78px;
}
.footer__list2 {
    margin: 0;
    padding: 0; 
    list-style-type: none;
    
}
.footer__item2 {
    padding: 12px;
}
.footer__link2 {
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 16px;
    }
.footer__form {
    display: block;
    width: 486px;
    height: 302px;
    margin-left: 91px;
    margin-top: 50px;
}
.footer__form-h1 {
    width: 356px;
    height: 52px;
    font-weight: 700px;
    font-size: 18px;
    color: #FFFFFF;
    margin: 0;
    padding: 0;
    line-height: 26px;
}
/* КНОПКА ЗАПОЛНЕНИЯ */
.email-container {
    display: flex;
    margin-top: 16px;
    align-items: center;
    background: #FFFFFF;
    width: 384px;
    height: 48px;
    border-radius: 4px;
    overflow: hidden;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2); 
  }
.email-container input {
    flex-grow: 1;
    border: none;
    padding: 10px;
    font-size: 14px;
    outline: none;
    font-weight: 400;
  }
.email-container button {
    background: #16C8BB;
    border: none;
    width: 64px;
    height: 48px;
    padding: 10px 15px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }
.footer__form-text {
    color: rgba(255, 255, 255, 1);
    font-weight: 400;
    font-size: 12px;
    opacity: 70%;
    margin-top: 16px;
    padding-left: 0;
    line-height: 18px;
}
.footer__player {
 display: inline-block; 
    margin-left: 24px;
    margin-top: 40px;
    width: 221px;
    height: 50px;
}
.footer__social {
    display: inline-block; 
    padding-top: 40px;
    margin-right: 16px;  
}
.footer__social:last-child {
    margin-right: 0;
}
.footer__line {
    position: absolute;
    bottom: 60px;
    width: 80%;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    opacity: 30%;
}
.footer__end { 
    display: flex;
    margin-left: 120px;
    margin-right: 40px; 
    position: absolute;
    margin-top: 310px;
    text-decoration: none;
} 
.footer__end-link {
    text-decoration: none;
    color: white;
    margin-right: 10px;
    margin-left: 60px;
    opacity: 70%;
}
/* Адаптивность */
.hamburger {
    display: none; /* Скрываем по умолчанию */
  }
  
  @media screen and (max-width: 768px) {
    /* Навигация */
    .header__logo {
        margin: 20px auto 20px 20px;
    }
    .hamburger {
      display: flex; /* Показываем бургер при ширине экрана 768px и меньше */
      margin: 16px 16px 16px 116px;
    }
    .header__btn {
      display: none; /* Скрываем обычное меню */
    }
    .header__nav {
        display: none;
    }
  }

  /* MACKBOOK */
@media screen and (max-width: 1440px) {
    .all {
    gap: 228px;
}
}
/* IPAD PRO 12.9 */
@media  screen and (max-width: 1024px){
    .header {
        padding-left: 32px;
        padding-right: 32px;
    }
    .all {
        gap: 24px;
    }
    .hero {
        margin-left: 32px;
    }
    .header {
        padding-left: 0;
        padding-right: 0;
    }
    .sidebar__fourthblock {
        display: none;
    }
    hr {
        display: none;
    }
    .hero__footer {
        display: none;
    }
    .hero__footer-bgc {
        display: none;
    }
    
}

  /* IPAD MINI */

  /* IPHONE 11 PRO MAX */

  /* IPHONE SE */